body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#nav-links{
    cursor: pointer;
 
    

}

#nav{
    display: flex;
    cursor: pointer;
}

.nav-links{
    list-style-type: none;
    
}

#logo-img{
   text-align: left;
    margin-right: 50px;
    list-style: none;

}

#right{
    margin-right: 35px;
}

#logo-img, #right{
    padding: 10px;
}

#feature-links{
    display: block;
    list-style: none;
   
}

.feature-link{
    margin-bottom: 5px;
    
}

.feature-img{
    height: 100%;
}

#dropdown-feature{
    background-color: white;
    box-sizing: border-box;
    box-shadow:2px 2px 2px 5px whitesmoke;
    padding-left: 5px;
    margin-right: 4px;
    display: none;
    list-style: none;
   
}

.feature{
    margin-bottom: 4px ;
}

#feature-arrow-down, #company-arrow-down{
    margin-left: 2px;
    cursor: pointer;
}

#company-arrow-up, #feature-arrow-up{
    display: none;
}


#dropdown-company{
    text-align: center;
    list-style: none;
    background-color: white;
    box-sizing: border-box;
    box-shadow:2px 2px 2px 5px whitesmoke;
    display: none;
}

.body{
    display: flex;
}

.right{
    width: 50%;
    margin-left: auto;
    margin-right: 5px;
    
}

.left-side{
    width: 50%;
    margin-left: auto;
  
   
}


#head-text{
    width: 100%;
    height: auto;
}

#header{
    margin-left: 15px;
    font-size: 60px;
    margin-bottom: 20px;
    width: 100%;
}



#hero-img{
    margin-left: auto;
    width: 100%;
    height: 70%
}
#paragraph{
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

#learn-btn{
    margin-left: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 8%);
    color: white;
    cursor: pointer;
    margin-bottom: 20%;
}

#sponsors{
    margin-left: 20px;
}

.left{
    display: flex;
    margin-left: auto;
}

#left{
    padding: 10px;
}

#register-btn{
    margin-left: 30px;
    margin-right: 2px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
   
}

#mobile-nav, #modal{
   display: none;
}


/* MOBILE MENU VIEW*/


@media screen and (max-width: 700px) {
 
#nav-links{
    display: none;
}

 .right{
    width: 90%;
    margin-right: 5px;
}

.body{
    display: block;
}


.left-side{
    width: 100%;
    margin-right: auto;
   
}

#mobile-nav{
    display: flex;
    visibility: visible;
}

#mobile-links{
  list-style: none;
  display: flex;
}

#menu{
   position: absolute;
   left: 90%;
   cursor: pointer;
   visibility: visible;
}


#modal{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    width: 0;
    visibility: visible;
    display: block;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-family: fantasy;
    overflow-y: scroll;
    transition: 0.7s;
}

#dropdown-list-mobile{
    cursor: pointer;
}


.sub-features{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
}

#features-list{
    margin-bottom: 7px;
}

#company-list{
    margin-bottom: 7px;
}

.sub-company{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
}
#blog{
    margin-bottom: 5px;
}

#about{
    margin-bottom: 5px;
}

#careers{
    margin-bottom: 5px;
}

li{
    list-style: none;
}

#login, #register{
    text-align: center;
}

#login{
    margin-bottom: 8px;
}

#register{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-right: 2px;
}

#cancel-btn{
    position: absolute;
    top: 0;
    left: 25px;
    width: 20px;
    height: 10px;
    cursor: pointer;
}




}

/*FOR WAYY SMALLER PHONES*/


@media screen and (max-width: 300px) {
    #snap{
        width: 70px;
    }

    #modal{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: hsl(0, 0%, 98%);
        width: 0;
        display: block;
        visibility: visible;
        font-size: 8px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-family: fantasy;
        transition: 0.7s;
    }

    #cancel-btn{
        position: absolute;
        top: 0;
        left: 25px;
        width: 15px;
        height: 18px;
    }

    #mobile-nav{
        visibility: visible;
    }
}
